<h1>Index</h1>

<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant.name, restaurant_path(restaurant)  %> <br>
  <%= restaurant.address  %> <br>
  <%= restaurant.phone_number  %><br>
  <%= restaurant.category  %> <br>
  <%= link_to "Delete", restaurant_path(restaurant),
      method: :delete,
      data: { confirm: "Are you sure?" } %>  <br><hr>
  <% end %>

  <%= link_to "Add", new_restaurant_path %>
